<p>Hello <%= @user.first_name %>,</p>

<p>
  <strong>Thank's for you subscription</strong> , and welcome to the best world <strong>SurfHouse</strong> finder !"
</p>

<p>See you soon</p>

<p>With love,</p>

<p><strong>Surfbnb Team</strong></p>
