.form-flat {
  padding: 20px;
  width: 440px;
  background-color: white;
  margin: 0 auto;
}


#myflats  {
  li {
    list-style-type: none;
  }

  }

  .flat-card {
    background-color: white;
    width: 347px;
    margin: 20px;
    display: inline-block;
  }

  .flat-card-text {
    padding: 20px;
  }

body {
  padding-top: 60px;
}

