#price_amount {
  padding: 6px 0;

  h3 {
  font-size: 24px;
  }
}

.pull-left {
  float: left;
}

#per_night {
  padding: 9px 0;
}

.pull-right {
  float: right;
}

#pricing {
  background-color: rgba(60,63,64,0.9);
  border: 0;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  text-transform: capitalize;
  width: 315px;
}

.panel-light {
  background-color: #fff;
}

