<div class="row">
  <div class="col-md-12 col-md-offset-3">
    <form class="form-inline" role="form">
        <div class="form-group nested-group">
            <input type="text" id="left-input" class="form-control" placeholder="Ville">
            <input type="datetime" id="middle-input" class="form-control" placeholder="Check-in">
            <input type="datetime" id="middle-input" class="form-control" placeholder="Check-out">
            <input type="number" min="0" step="1" id="right-input" class="form-control" placeholder="Voyageurs">
            <button class="btn btn-primary" type="button">Rechercher</button>
        </div>
    </form>
  </div>
</div>