
<div id="banner">
  <div id="home" class="text-center">
    <h1>BIENVENUE À LA MAISON</h1>
    <h2>Louez des SurfHouse uniques auprès surfeurs locaux dans le monde</h2>
  </div>
  <div id="position-search">
  <%= render 'shared/form'%>
  </div>
</div>

