.decorative-input {
  background-image: url(https://a2.muscache.com/airbnb/static/signinup/text-field-icons-9c18e4e23864cb33a8f0f7c32c0b86ee.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  width: 100% !important;
}